# Visual Studio
.vs/
*.slnx.sqlite
*.csproj.user

# ASP.NET Core
bin/
obj/
appsettings.json
appsettings.Development.json

# React (Vite)
node_modules/
dist/
*.log

# macOS
.DS_Store
.fake

**/staticwebassets.build.json