.blok {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 52%;
    background-color: #131B56;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    padding-top: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 80%
}
input {
    width: 80%;
    height: 60px;
    margin-bottom: 1rem;
    padding: 0 0 0 1px;
    text-align: left;
    font-size: 100%;
    border-radius: 10px;
    float: left;
    border: none;
    padding-left: 10px;
    &::placeholder {
        text-align: left;      
    }
}

button {
    width: 55%;
    height: 60px;
    margin-bottom: 1rem;
    text-align: center; 
    background-color: #21CEA1;
    color: white;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    &:hover {
        border-style: solid;
        border-width: 1px;
        border-color: white;
        font-weight: bold;
    }
}

.registerlogo
{
    width: 100%;
    height: auto;
}
